@import (inline) "normalize.css";

.widget-up-demo {
  &-container {
    display: flex;
    min-height: 100vh;
  }

  &-menu-container {
    background: #f4f4f4;
    border-right: 1px solid #ccc;
    width: 200px;
    padding: 10px;
    flex: 0 0 200px;

    .generate-levels(@index) when (@index > 0) {
      &.level-@{index} {
        padding-left: 20px * @index;
      }
      .generate-levels(@index - 1);
    }

    ul {
      list-style: none;
      padding: 0;
      margin-top: 20px;

      li {
        margin-bottom: 5px;
        .generate-levels(5); // Start generating up to 5 levels
      }
    }
  }

  &-root-container {
    flex-grow: 1;
    padding: 20px;
  }

  &-right-space {
    flex: 0 0 200px;
    background: #fff;
  }
}
